<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>莫提网盘</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
		<link rel="stylesheet" type="text/css" href="css/planet.css" />
		<link rel="stylesheet" href="u-admin/dist/modules/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
	<div class="row" style="margin-top: 10%">
		<div class="col-1 col-sm-1 col-lg-2"></div>
		<div class='description col-10 col-sm-10 col-lg-8'>
			<h1>莫提网盘</h1>
			<hr>
			<p>
				莫提网盘（英文名：moti-cloud）是由个人开发者推出的在线存储服务。
			</p>
			<hr>
			<p>
				用户可以轻松将自己的文件上传到网盘上，并可跨终端随时随地查看和分享。<br>
				无需注册，使用QQ一键登录，注重用户的隐私。<br>
				具有安全、简约、高效、不限速的特点。
			</p>
			<hr>
			<p class='author'>
				作者：<a href="http://xuewei.world:8000/cn%e4%b8%b6moti/" style="color: #fff">莫提</a>
			</p>
			<p>
				宇宙就是一幅最大的春画。 ——〔中〕郭沫若
			</p>
			<hr>
			<a href="login"><img style="width: 80px" src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/bt_white_76X24.png" title="使用QQ登录" alt="使用QQ登录"></a>
			<p class='links'>
				<a class='fa fa-codepen icon' href='https://codepen.io/kowlor/' target='_blank'></a>
				<a class='fa fa-github-alt icon' href='https://github.com/KOWLOR' target='_blank'></a>
				<a class='fa fa-twitter icon' href='https://twitter.com/Dathink' target='_blank'></a>
			</p>
		</div>
		<div class="col-1 col-sm-1 col-lg-2"></div>
	</div>
	<div class='solar-syst' style="position: fixed;top: 5%;left: 0%">
		<div class='sun'></div>
		<div class='mercury'></div>
		<div class='venus'></div>
		<div class='earth'></div>
		<div class='mars'></div>
		<div class='jupiter'></div>
		<div class='saturn'></div>
		<div class='uranus'></div>
		<div class='neptune'></div>
		<div class='pluto'></div>
		<div class='asteroids-belt'></div>
	</div>
	</body>
</html>
